/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.9.2015, 11:40:27
    Author     : Pavel
*/
a {
    color: inherit;
    text-decoration: none;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('../fonts/ProximaNova-Bold.otf');
}
.shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.animate {
  -webkit-transition: all linear 0.2s;
     -moz-transition: all linear 0.2s;
       -o-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.hidden {
    display: none;
}
/**
 * Tabulka - fakt jsem to dělal sám
 */
table {
    width: 100%;
    padding: 0;
    margin: 0;
}

table tbody tr td , table tbody tr { line-height: 31px; }

.table-stripped tr:nth-child(even) {
    background-color: #fff;
}
.table-stripped tr:nth-child(odd) {
    background-color: #eee;
}

.table-stripped tr td , .table-stripped tr th {
    padding: 9px;
    border-right: 1px solid #ccc;
}

.table-stripped tr th {
    background-color: #ddd;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.table-stripped tr td.number {
   text-align: right;
}
.table-stripped tr td.bold {
   font-weight: bold;
}
.table-stripped tr td:last-child , .table-stripped tr th:last-child {
    border-right: none;
}

.table-form td , .table-form th {
   padding: 5px 3%;
   font-weight: normal;
}
.table-form td:first-child , .table-form th:first-child {
    text-align: right;
}
.table-form td:nth-child( 2 ) , .table-form:nth-child( 2 ) {
    text-align: left;
}
.table-form td.colspan {
    text-align: center;
    width: 96%;     
}

.schedule {
}
.schedule tr {
    border-bottom: 1px solid #ccc;
}
.schedule th {
    background-color: #ddd;
    padding: 5px;
    font-family: 'Proxima Nova';
    font-size: 14px;    
}
.schedule td {
    border-right: 1px solid #ccc;
    text-align: center;
}
.schedule td:first-child {
    text-align: right;
    padding: 5px;
    font-family: 'Proxima Nova';
    font-size: 14px;    
}

.category {
    margin: 20px 15px 0 0;
    width: 280px; max-height: 400px;
    float: left;
    background: #fff;
}

.category li {
    padding: 5px;
    cursor: pointer;
}

.category li.heading {
    width: 86%;
    padding: 5px 5%;
    margin: 5px 2% 0 2%;
    font-size: 20px;
    border-bottom: 2px solid #009CFF;
    cursor: default;
}

.category:nth-child(3n){
    margin: 20px 0 0 0;
}

.category li:hover {
    background: #eee;
}
.category li.heading:hover {
    background: #fff;
}

/**
 * Ikony
 */
[class^='icon'] {
    width: 20px; height: 20px;
    display: block;
    float: right;
}
.icon-vip { background: url( ../img/vip.png ); }
.icon-luxury { background: url( ../img/luxury.png ); }
.icon-firm { background: url( ../img/firma.png ); }

/**
 * Zprávy
 */
.message {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
}
.success {
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
}
.notice {
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
}
.error { 
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
}

