/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.9.2015, 11:40:27
    Author     : Pavel
*/
a {
    color: inherit;
    text-decoration: none;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('../fonts/ProximaNova-Bold.otf');
}
.shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.animate {
  -webkit-transition: all linear 0.2s;
     -moz-transition: all linear 0.2s;
       -o-transition: all linear 0.2s;
          transition: all linear 0.2s;
}

/**
 * Tabulka - fakt jsem to dělal sám
 */
.table-stripped {
    width: 100%;
    padding: 0;
    margin: 0;
}

.table-stripped tr:nth-child(even) {
    background-color: #fff;
}
.table-stripped tr:nth-child(odd) {
    background-color: #eee;
}

.table-stripped tr td , .table-stripped tr th {
    padding: 9px;
    border-right: 1px solid #ccc;
}

.table-stripped tr th {
    background-color: #ddd;
    font-weight: bold;
}

.table-stripped tr td.number {
   text-align: right;
}
.table-stripped tr td.bold {
   font-weight: bold;
}
.table-stripped tr td:last-child {
    border: none;
}
.table-hover tr:hover th {
    
}
/**
 * Ikony
 */
[class^='icon'] {
    width: 20px; height: 20px;
    display: block;
    float: right;
}
.icon-vip { background: url( ../img/vip.png ); }
.icon-luxury { background: url( ../img/luxury.png ); }
.icon-firm { background: url( ../img/firma.png ); }