/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.9.2015, 11:40:27
    Author     : Pavel

    #009CFF
*/

body {
    width: 100%; height: 100%;
    background-color: #eeeeee;
    background-image: url(http://www.transparenttextures.com/patterns/bright-squares.png);
}

#page , #content {
    width: 100%;
    display: block;
    overflow: hidden;
}
#content {
    min-height: 900px;
}
header {
    margin: 0 auto 20px auto;

    
    display: block;
    overflow: hidden;
}

#header-top {
    width: 85%; height: 27px;
    padding: 46.5px 0 46.5px 15%;
    background: url( ../img/trinec-logo.png ) 10px 10px no-repeat #fff;
    border-bottom: 1px solid #ddd;
}
#header-top #search {
    float: right;
    margin-right: 30px;
}

nav {
    width: 100%; height: 60px;
    background: #fff;
    
}
nav a {
    font-family: 'Proxima Nova';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    border-bottom: 2px solid transparent; 
    color: #333;
}

nav a:hover , nav a.selected {
    color: #009CFF;
    border-bottom: 2px solid #009CFF;
}

nav a#login {
    padding: 8px 20px;
    margin: 10px 30px;
    float: right;
    color: #009CFF;
    border: 2px solid #009CFF;
}
nav a#login:hover {
    background: #009CFF;
    color: #fff;
} 

#header-banner {
    width: 100%; height: 299px;
    background: url( ../img/banner.png );
}


#banner-left { background-color: #fff; width: 0px; height: 500px; position: absolute; left: 0 }
#banner-right { background-color: #fff; width: 0px; height: 500px; position: absolute; right: 0 }

#container { margin: 0 auto; display: none; }

#inzeraty , #firmy {
    background-color: #fff;
    margin-bottom: 20px;
}
#inzeraty { float: left; }
#firmy { float: right;  }

#diskuze , #clanky {
    width: 100%;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
}

footer {
    width: 100%; height: 500px;
    float: left;
    background: #222;
    border-top: 5px solid #009CFF;
}

#inzeraty ul {
    width: 430px;
    margin: 5px;
}
#inzeraty ul li {
    width: 420px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
}

/**
 * admin
 */
.area {
    width: 100%;
    background-color: #fff;
    float: left;
    margin-top: 20px;
}

.area:first-child {
    margin: 0;
}
.area:last-child {
    margin-bottom: 20px;
}
.area label {
    width: 50%;
    padding: 0 25%;
    text-align: center;
}
/**
 * media
 */

@media only screen and (min-width: 850px) {
    .width {
        width: 500px;
    }
    #inzeraty , #firmy { width: 100%; }
    nav a { padding: 20px 10px 18px 10px; }
    
}

@media only screen and (min-width: 1050px) {
    .width {
        width: 700px;
    }
    #inzeraty , #firmy { width: 340px; }
    nav a { padding: 20px 20px 18px 20px; }
}


@media only screen and (min-width: 1250px) {
    .width {
        width: 900px;
    }
    #inzeraty , #firmy { width: 440px; }
    nav a { padding: 20px 20px 18px 20px; }
}
