/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.9.2015, 11:40:27
    Author     : Pavel

    #009CFF
*/

body {
    width: 100%; height: 100%;
    background-color: #eeeeee;
    background-image: url(http://www.transparenttextures.com/patterns/bright-squares.png);
    
}

#page , #content {
    width: 100%;
}

header {
    width: 900px;
    margin: 0 auto 20px auto;
    
    display: block; 
    overflow: hidden;
    
}

#header-top {
    width: 87%; height: 27px;
    padding: 46.5px 0 46.5px 13%;
    background: url( ../img/trinec-logo.png ) 10px 10px no-repeat #fff;
    border-bottom: 1px solid #ddd;
}
#header-top #search {
    float: right;
    margin-right: 30px;
}

nav {
    width: 100%; height: 60px;
    background: #fff;
    
}
nav a {
    padding: 20px 20px 18px 20px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    border-bottom: 2px solid transparent; 
    color: #333;
}

nav a:hover {
    color: #009CFF;
    border-bottom: 2px solid #009CFF;
}

nav a#login {
    padding: 8px 20px;
    margin: 10px 30px;
    float: right;
    color: #009CFF;
    border: 2px solid #009CFF;
}
nav a#login:hover {
    background: #009CFF;
    color: #fff;
} 

#header-banner {
    width: 900px; height: 299px;
    background: url( ../img/banner.png );
}


#banner-left { background-color: #fff; width: 150px; height: 500px; position: absolute; left: 0; }
#banner-right { background-color: #fff; width: 150px; height: 500px; position: absolute; right: 0; }

#container { width: 900px; margin: 0 auto;}

#inzeraty , #firmy {
    width: 440px; height: 440px;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
}
#inzeraty { margin-right: 20px;  }

#diskuze , #clanky {
    width: 900px; height: 300px;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
}

footer {
    width: 100%; height: 500px;
    float: left;
    background: #222;
    border-top: 5px solid #009CFF;
}